@media (max-width:550px){
    .info-img-prueba{
        max-width: 40px;
        max-height: 40px;
    }
    .info-img1{
        width: 40px;
        height: 40px;
    }
    .info-section div h3{
        font-size: 12px;
    }
    .info-section{
        height: 150px;
    }
}