@media (max-width:700px){
    .categories-main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "adidas-cat nike-cat"
        "nb-cat cm-cat"
        ;
    }
}

@media (max-width:700px){
    .newsletter h2{
        font-size: 18px;
        padding-top: 20px;
    }
    .newsletter form{
        padding-top: 10px;
    }
    .newsletter form input[type="email"]{
        width: 250px;
        height: 30px;
        font-size: 15px;
    }
    .newsletter form input[type="submit"]{
        width:120px;
        height: 30px;
        font-size: 15px;
        letter-spacing: 3px;
    }
    .newsletter{
        height: 130px;
    }
}
